
body {
    padding: 1%;
}

.inline-block-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo {
    float: left;
    overflow: hidden;
    height: 3rem;
    padding: 0.5%;
    margin: 0;
    white-space: nowrap;
}

#logo img {
    vertical-align: middle;
}

#page-title {
    font-size: 3rem;
}

#main-article-content {
    line-height: 1.5;
    word-spacing: 0.15rem;
    text-align: justify;
    font-family: Georgia, Cambria, "Times New Roman", "Times", serif;
}

#main-nav {
    text-align: right;
}

#main-nav ul {
    margin: 0;
    list-style-type: none;
}

#main-article-content p {
    margin: 0;
    margin-bottom: 1.6rem;
}


                                     html { font-size: 18px; }
@media all and (min-width: 1100px) { html { font-size: 19px; } }
@media all and (min-width: 1200px) { html { font-size: 20px; } }
@media all and (min-width: 1300px) { html { font-size: 21px; } }
@media all and (min-width: 1400px) { html { font-size: 22px; } }
@media all and (min-width: 1500px) { html { font-size: 23px; } }
@media all and (min-width: 1600px) { html { font-size: 24px; } }
@media all and (min-width: 1700px) { html { font-size: 25px; } }
@media all and (min-width: 1900px) { html { font-size: 26px; } }
@media all and (min-width: 1000px) {

    #page-title {
        float: left;
        margin: 0 0 0 5%;
    }

    #main-article-content {
        position: absolute;
        left: 2%;
        top: 5rem;
        width: 72%;
    }

    #main-nav {
        position: absolute;
        width: 15%;
        left: 80%;
        top: 5rem;
    }

}

/* Max out on responsize enlarging */
@media all and (min-width: 1666px) {
    body {
        padding: 17px;
    }
    #logo {
        padding: 8px;
    }
    #page-title {
        margin-left: 83px;
    }
    #main-article-content {
        width: 1200px;
        left: 33px;
    }
    
    #main-nav {
        left: 1333px;
        width: 250px;
    }
}

@media all and (max-width: 999px) {
    body {
        padding: 10px;
    }

    #logo {
        height: 80px;
    }

    #page-title {
        clear: both;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    #main-nav {
        position: absolute;
        left: 120px;
        font-size: 20px;
        top: 50px;
    }

    #main-nav ul li {
        display: inline;
        padding: 0 10px;
    }
}
