{% load mathjax %}
{% load staticfiles %}
{% load quicksite_tags %}
<!DOCTYPE html >
<html>
    <head>
        <meta charset='utf-8' />

        <title>{{ title }}</title>

        {% mathjax_scripts %}
        <link rel='stylesheet' type='text/css' href='{% static 'style/quicksite/page.css' %}' />

    </head>
    <body>
        <div id='logo'>
            <span class='inline-block-helper' ></span>
            <img src='{% static 'res/quicksite/logo.png' %}' />
        </div>

        <h1 id='page-title'>{{ title }}</h1>

        <section id='main-article-content'>
            {{ rendered_content }}
        </section>
    
        <nav id='main-nav'>
            <ul>
                <li>{% qs_link '' 'Home' %}</li>
                <li>{% qs_link 'About.md' 'About' %}</li>
                <li>{% qs_link 'Contact.md' 'Contact' %}</li>
            </ul>
        </nav>

    </body>
</html>

